a{color:#AD1C1C;text-decoration:underline}
form{margin:0px;padding:0px}
hr{border-bottom:1px solid #fff;border-top:1px solid #bbb}
html,body{background:#fff;color:#333;font:11px verdana;text-align:center}
.clear{clear:both}
.login{background:url('../images/Administrator Security Key.jpg') center bottom no-repeat;height:110px;vertical-align:bottom;width:20%}
.loginText{color:#AD1C1C;font-size:25px}
.main{background:#e5e5e5;width:100%;border:1px solid #D0D0D0}
.main td{padding:2px 8px;text-align:left}
.main td.center{text-align:center}
.main td.padding{padding-left:30px}
.saodo{color:#AD1C1C}
#result{position:relative;left:20px}
.swap{background:#FEFEFE;border:1px solid #ddd;display:none;margin:0 auto;overflow:hidden;padding:8px;position:relative;top:80px;width:580px}
em.error{background:url("images/unchecked.gif") no-repeat 0px 0px;margin-left:5px;padding-left:18px}
em.success{background:none;}
input.button{background:#EEE;border:1px solid #999;cursor:pointer;width:99px}
input[name=captcha]{text-transform:uppercase}
#captchaimage{height:30px;width:120px}
#captchaimage img { padding-left:20px}
#warning{display:none}
a:hover{color:#333;outline:none;text-decoration:none}
input.button:hover{background:#ECE9D8;color:#333;text-decoration:underline}
input[type="text"],input[type="password"]{width:200px;background: #FFF;border:1px solid #bbb;padding-left:0px;padding-left:4px;color:#333}
div#loader
{
  float:left;
  padding:4px 5px 2px 30px;
  background:#f9f9f9 url(../images/loading.gif) 5px 0px no-repeat;
  border:1px solid #333;
  left:1em;top:1em;
  position:absolute;
}
div.loader
{
  float:left;
  padding:10px 8px 6px 30px;
  background:#E5E5E5 url(../images/loading.gif) 5px 6px no-repeat;
}