#price-product .text {
  width: 25%;
  height: 30px;
}
#price-product #btnSearch {
  float: none;
}
#price-product .list {
    height: 33px;
    border: 1px solid #d0dce7;
    border-radius: 3px;
    margin-left: 3px;
}
#sale-hot div.checkbox {
    padding-left: 10px;
}
#loadMore a{
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    margin-bottom: 50px;
}
#loadMore a:hover {
    background-color: #fff;
    color: #33739E;
}
#quontes tr td {
    vertical-align: middle;
}
